/**
* Fork of https://github.com/mickey/videojs-progressTips
*/

.vjs-tip {
    display: none;
    opacity: 0.7;
    font-size: 10px;
    position: absolute;
    z-index: 100000;
}

.vjs-tip-body {
    position: relative;
}

.vjs-tip-body-arrow {
    background: url(data:image/gif;base64,R0lGODlhCQAJAIABAAAAAAAAACH5BAEAAAEALAAAAAAJAAkAAAIRjAOnwIrcDJxvwkplPtchVQAAOw==) no-repeat bottom left;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 9px;
    height: 4px;
}

.vjs-tip-body-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 8px 4px 8px;
    background-color: black;
    color: white;
    max-width: 200px;
    text-align: center;
}
