.vjs-tip {
    display: none;
    opacity: .7;
    font-size: 10px;
    position: absolute;
    z-index: 100000;
}
.vjs-tip-body {
    position: relative;
}
.vjs-tip-body-arrow {
    background: url(data:image/gif;base64,R0lGODlhCQAJAIABAAAAAAAAACH5BAEAAAEALAAAAAAJAAkAAAIRjAOnwIrcDJxvwkplPtchVQAAOw==) bottom left no-repeat;
    bottom: -4px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 9px;
    height: 4px;
}
.vjs-tip-body-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 5px 8px 4px;
    background-color: #000;
    color: #fff;
    max-width: 200px;
    text-align: center;
}
